{% extends 'base.html' %}
{% block title %}Books{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Paul's Bookstore</h1>
        <p class="lead">This is a simple online bookstore, a simple component for calling extra attention to those who like reading.</p>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class="card-group">

            {% for book in books_list %}
                <div class="col-sm-3 py-2">
                    <div class="card h-100">
                        <img src="{{ book.cover.url}}" class="card-img-top" style="height: 350px" alt="{{ book.title }}">

                        <div class="card-body">
                            <a href="#"><h6 class="card-title">{{ book.title }}</h6> </a>
                            <p class="card-text"><strong>Author: </strong>{{ book.author }}</p>
                            <p class="card-text"><strong>Price: </strong>${{ book.price }}</p>
                            <hr class="my-4">
                            <div class="d-flex justify-content-center">
                                <a href="{{ book.get_absolute_url }}" class="btn btn-primary stretched-link"
                                style="border-radius: 0px; width: 100px; margin-bottom: auto;">View Book</a>
                            </div>
                        </div>


                    </div>

                </div>
            {% endfor %}
        <br><br>

        </div>
    </div>

{% endblock content %}