{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmation{% endblock title %}

{% block content %}
    <h1>Confirmation Page</h1>

    <div class="jumbotron">
        <h1 class="display-4">Thank You for Your Purchase</h1>
        <p class="lead">This is a simple online bookstore, a simple component for calling extra attention to those who like reading.</p>
        <hr class="my-4">
        <button class="btn btn-default"> <a href="{% url 'book_list' %}">All Books</a> </button>
    </div>
{% endblock %}